@model ff.Models.mail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>mail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emailDestinataire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailDestinataire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sujet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sujet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateEnvoie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateEnvoie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personne.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personne.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEmail }) |
    @Html.ActionLink("Back to List", "Index")
</p>
